<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/postvideo">New Post</a></li>
                <li class="search">
                    <input type="text" placeholder="Search">
                    <button type="button">&#128269</button>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration" style="background-color:#731de0;">Register</a></li>
            </ul>
        </nav>
    </header>
    <h2>Posts</h2>
    <div class="video-grid">
        {{#each videos}}
        <div class="video-box">
            <a href="/post/{{this.id}}">
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
                <div class="video-info">
                    <h3>{{this.title}}</h3>
                    <p>{{this.description}}</p>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    </div>
</body>
<footer>
    Athan Cheung &copy; 2024
</footer>

</html>